<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<head></head>-->
<!--<body>-->
<!--    <ul th:each="member , iState : ${members}">-->
<!--        <li th:text="${member.username}"></li>-->
<!--        <li th:text="${member.password}"></li>-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <form action="create">
            <div class="form-group">
                <label for="">username</label>
                <input type="text" name = "username" class="form-control" placeholder="Username을 입력해 주세요">
            </div>
            <div class="form-group">
                <label for="">password</label>
                <input type="password" name = "password" class="form-control" placeholder="Password를 입력해 주세요">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div class="container">
    <div class="col-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member , iState : ${members}">
                <th th:text="${iState.index + 1}>#</th>
                <th th:text="${member.username}>Username</th>
                <th th:text="${member.password}">Password</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>